:root {
    --blue: #0180da;
    --yellow: #ffc801;
}

html {
    width: 100%;
}

body {
    min-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link {
    margin: 0px 10px;
}

#hero h1 {
    color: var(--blue);
    font-size: 3rem;
}

.text-white {
    color: white;
}

.text-yellow {
    color: #ffc801
}

.text-center {
    text-align: center;
}

.star-container {
    display: flex;
    margin: auto;
}

.contact-btn {
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    min-height: 40px;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

.contact-btn-yellow {
    border-radius: 10px;
    background-color: var(--yellow);
    color: black;
    width: 50%;
    margin: auto;
    min-height: 40px;
    padding: 14px 20px;
    white-space: nowrap;
}

#hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

#left-hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 140px 80px;
    flex: 1;
    text-align: center;
    min-width: 520px;
}

#right-hero {
    background-image: url("/assets/hero_truck.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    min-width: 470px;
    min-height: 300px;
    margin-bottom: 60px;

}

#values, #services {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 60px 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#values h2, #services h2 {
    font-size: 2.5rem;
    margin: 0 40px;
}

#value-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
    margin: 20px
}

.value-card {
    display: flex;
    padding: 20px;
    gap: 8px;
    border: 1px solid gray;
    border-radius: 10px;
}

#services-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 60%;
}

.text-overflow-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 500px) {
    #right-hero, #left-hero {
        min-width: 300px;   
    }
}

/* 988px represents the wrapping of the hero section */
@media (max-width: 988px) {
    #left-hero, #values, #services {
        padding: 40px 20px;
    }
    #right-hero {
        margin-bottom: 40px;
    }
}
@media (max-width: 400px) {
    :root {
        font-size: 0.8rem;
    }
}

@media (max-width: 660px) {
    .card {
        width: 80%;
    }
}