:root {
    --blue: #0180da;
    --yellow: #ffc801;
}

html {
    width: 100%;
}

body {
    min-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

nav span {
    display: flex;
    gap: 8px;
}

nav img {
    width: 20px;
}

.navbar-nav {
    margin-left: auto;
    text-align: center;
}

.nav-link {
    margin: 0px 10px;
}

#hero h1 {
    color: var(--blue);
    font-size: 3rem;
}

.text-white {
    color: white;
}

.text-yellow {
    color: #ffc801
}

.text-center {
    text-align: center;
}

.star-container {
    display: flex;
    margin: auto;
}

.contact-btn-yellow {
    border-radius: 10px;
    background-color: var(--yellow);
    color: black;
    width: 50%;
    margin: auto;
    min-height: 40px;
    padding: 14px 20px;
    white-space: nowrap;
}

#hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

#left-hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 140px 80px;
    flex: 1;
    text-align: center;
    min-width: 520px;
}

.location {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.location > img {
    width: 20px;
    height: auto;
}

.location > h2 {
    font-size: 1.2rem;
}

#right-hero {
    background-image: url("/assets/hero_truck.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    min-width: 470px;
    min-height: 300px;
    margin-bottom: 60px;

}

#values, #services {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 60px 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#values h2, #services h2 {
    font-size: 2.5rem;
}

#value-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin: 20px auto;
    /* 720px represents when the card text will wrap */
    max-width: 720px;
}

.value-card {
    display: flex;
    padding: 20px;
    gap: 8px;
    border: 1px solid gray;
    border-radius: 10px;
}

#services-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.card {
    width: 60%;
    max-width: 500px;
}

.text-overflow-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hero, #values, #services, #contact-us, #about-us {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#brands {
    width: 100%;
    padding: 40px 12px;
    background-color: #171717;
    color: white;
    text-align: center;
}

.truck-logo {
    height: 80px;
    margin-right: 30px;
}

#brands h3 {
    margin-bottom: 40px;
}


marquee {
    width: 100%;
    display: flex;
}

marquee > div {
    display: flex;
    gap: 18px;
}

marquee > div > div {
    border: 4px outset silver;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.brand {
    width: 155px;
    height: 40px;
}

/* The volvo SVG requires padding to maintain it's aspect ratio */
.volvo-logo {
    padding: 10px 0;
}

#contact-us {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    align-items: center;
}

#contact-us-text {
    text-align: center;
    margin: 60px 0;
}

#contact-us-text p {
    margin-bottom: 20px;
    color: var(--yellow)
}

#contact-us h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#contact-us-phone-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--blue);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

#contact-us-phone-banner a {
    font-size: 2rem;
    white-space: nowrap;
    color: white;
}

#contact-us-phone-banner img {
    width: 40px;
}

.or-text {
    margin: 12px 0;
}

.send-message {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.send-message > img {
    width: 30px;
}

.send-message p {
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-bottom: 40px;
}

form label {
    font-weight: bold;
}

.name-email-inputs > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* selects the corresponding input fields */
[type="text"], [type="email"] {
    min-width: 240px;
    /* flex: 1; */
}

.name-email-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input {
    padding: 12px 8px;
}

form span {
    color: red;
}

#map > iframe {
    width: 100%;
    max-height: 500px;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
}

#questions > h3, #about-us h3, #awards h3 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

#question-cards {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.question-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 40%;
    padding: 20px;
    text-align: start;
}

.question-card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.question-card img {
    width: 30px;
}

#about-us {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

#about-left {
    width: 40%;
}

#about-right {
    width: 40%;
}

#about-right img {
    width: 100%;
    height: auto;
}

#awards {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;

}

#badges {
    margin: 40px 0;
    display: flex;
    column-gap: 80px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#badges img {
    width: 125px;
}

footer {
    background-color: #171717;
    color: white;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

footer a {
    color: var(--yellow);
    text-decoration: underline;
}

footer img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

@media (max-width: 500px) {
    #right-hero, #left-hero {
        min-width: 300px;   
    }
    form {
        padding: 20px;
    }
}

/* 988px represents the wrapping of the hero section */
@media (max-width: 988px) {
    #left-hero, #values, #services {
        padding: 40px 20px;
    }
    #right-hero {
        margin-bottom: 40px;
    }
    /* Make about us section vertical */
    #about-left, #about-right {
        width: 90%;
    }
}
@media (max-width: 400px) {
    :root {
        font-size: 0.8rem;
    }
}

/* Bootstrap cards for services section */
@media (max-width: 660px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 1150px) {
    .question-card {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .question-card img {
        display: none;
    }

    .question-card {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    :root {
        font-size: 1.4em;
    }
}