:root {
    --blue: #0394fc;
}

html {
    width: 100%;
}

body {
    min-width: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

/* For float */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    color: var(--blue);
    font-size: 3em;
}

.text-white {
    color: white;
}

.star-container {
    display: flex;

}

.contact-btn {
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    max-width: 100px;
    min-height: 40px;
    padding: 8px;
}

#hero {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

#left-hero {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 200px 20px;
    flex: 1;


}

#right-hero {
    background-image: url("/assets/hero_truck.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    min-width: 470px;
    min-height: 300px;

}

/* .contact-btn:hover {
    color: white;
} */

/* @media (max-width: 870px) {
    #hero {
        flex-direction: column;
    }
} */